import Hero from "../tags/Hero/Hero.marko";
import About from "../tags/About/About.marko";
import Experience from "../tags/Experience/Experience.marko";
import Skills from "../tags/Skills/Skills.marko";
import PortfolioSection from "../tags/PortfolioSection/PortfolioSection.marko";
import Contact from "../tags/Contact/Contact.marko";

<Hero/>
<About/>
<Experience/>
<Skills/>
<PortfolioSection/>
<Contact/>
