import style from "./SectionHeader.module.css";
export interface Input {
  title: string;
}

<div class=style.sectionHeader>
  <h2 class=style.heading>
    ${input.title}
  </h2>
  <div class=style.headingLine/>
</div>
